<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dct.swocean.daos.SysNewsTongPuMapper">
  <resultMap id="BaseResultMap" type="com.dct.swocean.entitys.SysNewsTongPu">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="net_id" jdbcType="INTEGER" property="netId" />
    <result column="show_position_id" jdbcType="INTEGER" property="showPositionId" />
    <result column="news_title" jdbcType="VARCHAR" property="newsTitle" />
    <result column="news_summary" jdbcType="VARCHAR" property="newsSummary" />
    <result column="text" jdbcType="VARCHAR" property="text" />
    <result column="publisher" jdbcType="VARCHAR" property="publisher" />
    <result column="publish_time" jdbcType="TIMESTAMP" property="publishTime" />
    <result column="focus_num" jdbcType="INTEGER" property="focusNum" />
    <result column="praise_num" jdbcType="INTEGER" property="praiseNum" />
    <result column="share_num" jdbcType="INTEGER" property="shareNum" />
    <result column="relay_num" jdbcType="INTEGER" property="relayNum" />
    <result column="reward_num" jdbcType="INTEGER" property="rewardNum" />
    <result column="collection_num" jdbcType="INTEGER" property="collectionNum" />
    <result column="visit_num" jdbcType="INTEGER" property="visitNum" />
    <result column="news_type" jdbcType="INTEGER" property="newsType" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="INTEGER" property="createUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="INTEGER" property="updateUser" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, net_id, show_position_id, news_title, news_summary, text, publisher, publish_time, 
    focus_num, praise_num, share_num, relay_num, reward_num, collection_num, visit_num, 
    news_type, status, create_time, create_user, update_time, update_user
  </sql>
  <select id="selectByExample" parameterType="com.dct.swocean.entitys.SysNewsTongPuExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_news_tongpu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_news_tongpu
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_news_tongpu
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.dct.swocean.entitys.SysNewsTongPuExample">
    delete from sys_news_tongpu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dct.swocean.entitys.SysNewsTongPu">
    insert into sys_news_tongpu (id, net_id, show_position_id, 
      news_title, news_summary, text, 
      publisher, publish_time, focus_num, 
      praise_num, share_num, relay_num, 
      reward_num, collection_num, visit_num, 
      news_type, status, create_time, 
      create_user, update_time, update_user
      )
    values (#{id,jdbcType=INTEGER}, #{netId,jdbcType=INTEGER}, #{showPositionId,jdbcType=INTEGER}, 
      #{newsTitle,jdbcType=VARCHAR}, #{newsSummary,jdbcType=VARCHAR}, #{text,jdbcType=VARCHAR}, 
      #{publisher,jdbcType=VARCHAR}, #{publishTime,jdbcType=TIMESTAMP}, #{focusNum,jdbcType=INTEGER}, 
      #{praiseNum,jdbcType=INTEGER}, #{shareNum,jdbcType=INTEGER}, #{relayNum,jdbcType=INTEGER}, 
      #{rewardNum,jdbcType=INTEGER}, #{collectionNum,jdbcType=INTEGER}, #{visitNum,jdbcType=INTEGER}, 
      #{newsType,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createUser,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dct.swocean.entitys.SysNewsTongPu">
    insert into sys_news_tongpu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="netId != null">
        net_id,
      </if>
      <if test="showPositionId != null">
        show_position_id,
      </if>
      <if test="newsTitle != null">
        news_title,
      </if>
      <if test="newsSummary != null">
        news_summary,
      </if>
      <if test="text != null">
        text,
      </if>
      <if test="publisher != null">
        publisher,
      </if>
      <if test="publishTime != null">
        publish_time,
      </if>
      <if test="focusNum != null">
        focus_num,
      </if>
      <if test="praiseNum != null">
        praise_num,
      </if>
      <if test="shareNum != null">
        share_num,
      </if>
      <if test="relayNum != null">
        relay_num,
      </if>
      <if test="rewardNum != null">
        reward_num,
      </if>
      <if test="collectionNum != null">
        collection_num,
      </if>
      <if test="visitNum != null">
        visit_num,
      </if>
      <if test="newsType != null">
        news_type,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="netId != null">
        #{netId,jdbcType=INTEGER},
      </if>
      <if test="showPositionId != null">
        #{showPositionId,jdbcType=INTEGER},
      </if>
      <if test="newsTitle != null">
        #{newsTitle,jdbcType=VARCHAR},
      </if>
      <if test="newsSummary != null">
        #{newsSummary,jdbcType=VARCHAR},
      </if>
      <if test="text != null">
        #{text,jdbcType=VARCHAR},
      </if>
      <if test="publisher != null">
        #{publisher,jdbcType=VARCHAR},
      </if>
      <if test="publishTime != null">
        #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="focusNum != null">
        #{focusNum,jdbcType=INTEGER},
      </if>
      <if test="praiseNum != null">
        #{praiseNum,jdbcType=INTEGER},
      </if>
      <if test="shareNum != null">
        #{shareNum,jdbcType=INTEGER},
      </if>
      <if test="relayNum != null">
        #{relayNum,jdbcType=INTEGER},
      </if>
      <if test="rewardNum != null">
        #{rewardNum,jdbcType=INTEGER},
      </if>
      <if test="collectionNum != null">
        #{collectionNum,jdbcType=INTEGER},
      </if>
      <if test="visitNum != null">
        #{visitNum,jdbcType=INTEGER},
      </if>
      <if test="newsType != null">
        #{newsType,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dct.swocean.entitys.SysNewsTongPuExample" resultType="java.lang.Long">
    select count(*) from sys_news_tongpu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sys_news_tongpu
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.netId != null">
        net_id = #{record.netId,jdbcType=INTEGER},
      </if>
      <if test="record.showPositionId != null">
        show_position_id = #{record.showPositionId,jdbcType=INTEGER},
      </if>
      <if test="record.newsTitle != null">
        news_title = #{record.newsTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.newsSummary != null">
        news_summary = #{record.newsSummary,jdbcType=VARCHAR},
      </if>
      <if test="record.text != null">
        text = #{record.text,jdbcType=VARCHAR},
      </if>
      <if test="record.publisher != null">
        publisher = #{record.publisher,jdbcType=VARCHAR},
      </if>
      <if test="record.publishTime != null">
        publish_time = #{record.publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.focusNum != null">
        focus_num = #{record.focusNum,jdbcType=INTEGER},
      </if>
      <if test="record.praiseNum != null">
        praise_num = #{record.praiseNum,jdbcType=INTEGER},
      </if>
      <if test="record.shareNum != null">
        share_num = #{record.shareNum,jdbcType=INTEGER},
      </if>
      <if test="record.relayNum != null">
        relay_num = #{record.relayNum,jdbcType=INTEGER},
      </if>
      <if test="record.rewardNum != null">
        reward_num = #{record.rewardNum,jdbcType=INTEGER},
      </if>
      <if test="record.collectionNum != null">
        collection_num = #{record.collectionNum,jdbcType=INTEGER},
      </if>
      <if test="record.visitNum != null">
        visit_num = #{record.visitNum,jdbcType=INTEGER},
      </if>
      <if test="record.newsType != null">
        news_type = #{record.newsType,jdbcType=INTEGER},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sys_news_tongpu
    set id = #{record.id,jdbcType=INTEGER},
      net_id = #{record.netId,jdbcType=INTEGER},
      show_position_id = #{record.showPositionId,jdbcType=INTEGER},
      news_title = #{record.newsTitle,jdbcType=VARCHAR},
      news_summary = #{record.newsSummary,jdbcType=VARCHAR},
      text = #{record.text,jdbcType=VARCHAR},
      publisher = #{record.publisher,jdbcType=VARCHAR},
      publish_time = #{record.publishTime,jdbcType=TIMESTAMP},
      focus_num = #{record.focusNum,jdbcType=INTEGER},
      praise_num = #{record.praiseNum,jdbcType=INTEGER},
      share_num = #{record.shareNum,jdbcType=INTEGER},
      relay_num = #{record.relayNum,jdbcType=INTEGER},
      reward_num = #{record.rewardNum,jdbcType=INTEGER},
      collection_num = #{record.collectionNum,jdbcType=INTEGER},
      visit_num = #{record.visitNum,jdbcType=INTEGER},
      news_type = #{record.newsType,jdbcType=INTEGER},
      status = #{record.status,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_user = #{record.createUser,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dct.swocean.entitys.SysNewsTongPu">
    update sys_news_tongpu
    <set>
      <if test="netId != null">
        net_id = #{netId,jdbcType=INTEGER},
      </if>
      <if test="showPositionId != null">
        show_position_id = #{showPositionId,jdbcType=INTEGER},
      </if>
      <if test="newsTitle != null">
        news_title = #{newsTitle,jdbcType=VARCHAR},
      </if>
      <if test="newsSummary != null">
        news_summary = #{newsSummary,jdbcType=VARCHAR},
      </if>
      <if test="text != null">
        text = #{text,jdbcType=VARCHAR},
      </if>
      <if test="publisher != null">
        publisher = #{publisher,jdbcType=VARCHAR},
      </if>
      <if test="publishTime != null">
        publish_time = #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="focusNum != null">
        focus_num = #{focusNum,jdbcType=INTEGER},
      </if>
      <if test="praiseNum != null">
        praise_num = #{praiseNum,jdbcType=INTEGER},
      </if>
      <if test="shareNum != null">
        share_num = #{shareNum,jdbcType=INTEGER},
      </if>
      <if test="relayNum != null">
        relay_num = #{relayNum,jdbcType=INTEGER},
      </if>
      <if test="rewardNum != null">
        reward_num = #{rewardNum,jdbcType=INTEGER},
      </if>
      <if test="collectionNum != null">
        collection_num = #{collectionNum,jdbcType=INTEGER},
      </if>
      <if test="visitNum != null">
        visit_num = #{visitNum,jdbcType=INTEGER},
      </if>
      <if test="newsType != null">
        news_type = #{newsType,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dct.swocean.entitys.SysNewsTongPu">
    update sys_news_tongpu
    set net_id = #{netId,jdbcType=INTEGER},
      show_position_id = #{showPositionId,jdbcType=INTEGER},
      news_title = #{newsTitle,jdbcType=VARCHAR},
      news_summary = #{newsSummary,jdbcType=VARCHAR},
      text = #{text,jdbcType=VARCHAR},
      publisher = #{publisher,jdbcType=VARCHAR},
      publish_time = #{publishTime,jdbcType=TIMESTAMP},
      focus_num = #{focusNum,jdbcType=INTEGER},
      praise_num = #{praiseNum,jdbcType=INTEGER},
      share_num = #{shareNum,jdbcType=INTEGER},
      relay_num = #{relayNum,jdbcType=INTEGER},
      reward_num = #{rewardNum,jdbcType=INTEGER},
      collection_num = #{collectionNum,jdbcType=INTEGER},
      visit_num = #{visitNum,jdbcType=INTEGER},
      news_type = #{newsType,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>