<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dct.swocean.daos.SysZiPaiMapper">
  <resultMap id="BaseResultMap" type="com.dct.swocean.entitys.SysZiPai">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="net_id" jdbcType="INTEGER" property="netId" />
    <result column="show_position_id" jdbcType="INTEGER" property="showPositionId" />
    <result column="zipai_order" jdbcType="VARCHAR" property="zipaiOrder" />
    <result column="ancestors_name" jdbcType="VARCHAR" property="ancestorsName" />
    <result column="praise_num" jdbcType="INTEGER" property="praiseNum" />
    <result column="comment_num" jdbcType="INTEGER" property="commentNum" />
    <result column="relay_num" jdbcType="INTEGER" property="relayNum" />
    <result column="collection_num" jdbcType="INTEGER" property="collectionNum" />
    <result column="ziapi_location" jdbcType="VARCHAR" property="ziapiLocation" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="INTEGER" property="createUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="INTEGER" property="updateUser" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, net_id, show_position_id, zipai_order, ancestors_name, praise_num, comment_num, 
    relay_num, collection_num, ziapi_location, status, create_time, create_user, update_time, 
    update_user
  </sql>
  <select id="selectByExample" parameterType="com.dct.swocean.entitys.SysZiPaiExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_zipai
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_zipai
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_zipai
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.dct.swocean.entitys.SysZiPaiExample">
    delete from sys_zipai
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dct.swocean.entitys.SysZiPai">
    insert into sys_zipai (id, net_id, show_position_id, 
      zipai_order, ancestors_name, praise_num, 
      comment_num, relay_num, collection_num, 
      ziapi_location, status, create_time, 
      create_user, update_time, update_user
      )
    values (#{id,jdbcType=INTEGER}, #{netId,jdbcType=INTEGER}, #{showPositionId,jdbcType=INTEGER}, 
      #{zipaiOrder,jdbcType=VARCHAR}, #{ancestorsName,jdbcType=VARCHAR}, #{praiseNum,jdbcType=INTEGER}, 
      #{commentNum,jdbcType=INTEGER}, #{relayNum,jdbcType=INTEGER}, #{collectionNum,jdbcType=INTEGER}, 
      #{ziapiLocation,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createUser,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dct.swocean.entitys.SysZiPai">
    insert into sys_zipai
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="netId != null">
        net_id,
      </if>
      <if test="showPositionId != null">
        show_position_id,
      </if>
      <if test="zipaiOrder != null">
        zipai_order,
      </if>
      <if test="ancestorsName != null">
        ancestors_name,
      </if>
      <if test="praiseNum != null">
        praise_num,
      </if>
      <if test="commentNum != null">
        comment_num,
      </if>
      <if test="relayNum != null">
        relay_num,
      </if>
      <if test="collectionNum != null">
        collection_num,
      </if>
      <if test="ziapiLocation != null">
        ziapi_location,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="netId != null">
        #{netId,jdbcType=INTEGER},
      </if>
      <if test="showPositionId != null">
        #{showPositionId,jdbcType=INTEGER},
      </if>
      <if test="zipaiOrder != null">
        #{zipaiOrder,jdbcType=VARCHAR},
      </if>
      <if test="ancestorsName != null">
        #{ancestorsName,jdbcType=VARCHAR},
      </if>
      <if test="praiseNum != null">
        #{praiseNum,jdbcType=INTEGER},
      </if>
      <if test="commentNum != null">
        #{commentNum,jdbcType=INTEGER},
      </if>
      <if test="relayNum != null">
        #{relayNum,jdbcType=INTEGER},
      </if>
      <if test="collectionNum != null">
        #{collectionNum,jdbcType=INTEGER},
      </if>
      <if test="ziapiLocation != null">
        #{ziapiLocation,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dct.swocean.entitys.SysZiPaiExample" resultType="java.lang.Long">
    select count(*) from sys_zipai
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sys_zipai
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.netId != null">
        net_id = #{record.netId,jdbcType=INTEGER},
      </if>
      <if test="record.showPositionId != null">
        show_position_id = #{record.showPositionId,jdbcType=INTEGER},
      </if>
      <if test="record.zipaiOrder != null">
        zipai_order = #{record.zipaiOrder,jdbcType=VARCHAR},
      </if>
      <if test="record.ancestorsName != null">
        ancestors_name = #{record.ancestorsName,jdbcType=VARCHAR},
      </if>
      <if test="record.praiseNum != null">
        praise_num = #{record.praiseNum,jdbcType=INTEGER},
      </if>
      <if test="record.commentNum != null">
        comment_num = #{record.commentNum,jdbcType=INTEGER},
      </if>
      <if test="record.relayNum != null">
        relay_num = #{record.relayNum,jdbcType=INTEGER},
      </if>
      <if test="record.collectionNum != null">
        collection_num = #{record.collectionNum,jdbcType=INTEGER},
      </if>
      <if test="record.ziapiLocation != null">
        ziapi_location = #{record.ziapiLocation,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sys_zipai
    set id = #{record.id,jdbcType=INTEGER},
      net_id = #{record.netId,jdbcType=INTEGER},
      show_position_id = #{record.showPositionId,jdbcType=INTEGER},
      zipai_order = #{record.zipaiOrder,jdbcType=VARCHAR},
      ancestors_name = #{record.ancestorsName,jdbcType=VARCHAR},
      praise_num = #{record.praiseNum,jdbcType=INTEGER},
      comment_num = #{record.commentNum,jdbcType=INTEGER},
      relay_num = #{record.relayNum,jdbcType=INTEGER},
      collection_num = #{record.collectionNum,jdbcType=INTEGER},
      ziapi_location = #{record.ziapiLocation,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_user = #{record.createUser,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dct.swocean.entitys.SysZiPai">
    update sys_zipai
    <set>
      <if test="netId != null">
        net_id = #{netId,jdbcType=INTEGER},
      </if>
      <if test="showPositionId != null">
        show_position_id = #{showPositionId,jdbcType=INTEGER},
      </if>
      <if test="zipaiOrder != null">
        zipai_order = #{zipaiOrder,jdbcType=VARCHAR},
      </if>
      <if test="ancestorsName != null">
        ancestors_name = #{ancestorsName,jdbcType=VARCHAR},
      </if>
      <if test="praiseNum != null">
        praise_num = #{praiseNum,jdbcType=INTEGER},
      </if>
      <if test="commentNum != null">
        comment_num = #{commentNum,jdbcType=INTEGER},
      </if>
      <if test="relayNum != null">
        relay_num = #{relayNum,jdbcType=INTEGER},
      </if>
      <if test="collectionNum != null">
        collection_num = #{collectionNum,jdbcType=INTEGER},
      </if>
      <if test="ziapiLocation != null">
        ziapi_location = #{ziapiLocation,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dct.swocean.entitys.SysZiPai">
    update sys_zipai
    set net_id = #{netId,jdbcType=INTEGER},
      show_position_id = #{showPositionId,jdbcType=INTEGER},
      zipai_order = #{zipaiOrder,jdbcType=VARCHAR},
      ancestors_name = #{ancestorsName,jdbcType=VARCHAR},
      praise_num = #{praiseNum,jdbcType=INTEGER},
      comment_num = #{commentNum,jdbcType=INTEGER},
      relay_num = #{relayNum,jdbcType=INTEGER},
      collection_num = #{collectionNum,jdbcType=INTEGER},
      ziapi_location = #{ziapiLocation,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>